@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TurboRango</h1>
    <p class="lead">Encontre a melhor refeição para você!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Encontrar! &raquo;</a></p>
</div>